@page "/"
@inject RoomCleaning.AdminUI.Services.SubscriptionService subService;

<h1>Room Cleaning Admin</h1>

@if (rooms == null)
{
    <p><em>Loading...</em></p>
}

@if (rooms.Length == 0)
{
    <p><em>No Rooms Found.</em></p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>Room Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in rooms)
        {
            <tr>
                <td>@room.DisplayName</td>
              </tr>
        }
    </tbody>
</table>
}


<input placeholder="Filter by..." @oninput="Filter"/>
<h2>@filter</h2>

@code 
{
    private string filter = "empty";

    private RoomCleaning.Shared.Models.Room[] rooms;
    protected override async Task OnInitializedAsync()
    {
        rooms = await subService.GetRoomsAsync();
    }

    public void Filter(ChangeEventArgs args)
    {
        if (rooms is null || rooms.Length == 0)
            return;

        var filteredList = from r in rooms where r.Id.StartsWith(args.Value.ToString()) select r;

    }
}
