@page "/"
@inject RoomCleaning.AdminUI.Services.SubscriptionService subService;

<h1>Room Cleaning Admin</h1>
<input placeholder="Filter by..." @oninput="Filter" />
@if (allRooms == null)
{
    <p><em>Loading...</em></p>
}

@if (allRooms.Length == 0)
{
    <p><em>No Rooms Found.</em></p>
}
else
{
<EditForm Model="@policy">
    <table class="table">
        <thead>
            <tr>
                <th>Room Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in filteredRooms)
            {
                <tr>
                    <td> <InputCheckbox @bind-Value="room.IsSelected" /></td>
                    <td>@room.DisplayName</td>
                </tr>
            }
        </tbody>
    </table>
    <label>
        Cleaning Time:
        <InputNumber @bind-Value="policy.CleaningTime" />
    </label>
    <label>
        Clean Room Before Meeting?
        <InputCheckbox @bind-Value="policy.CleanBefore" />
    </label>
    Notification Type:
    <label>
        Email
        <InputRadio name="notification" SelectedValue="RoomCleaning.Shared.Models.NotificationType.Email" @bind-Value="policy.NotificationType" />

    </label>
    <label>
        SMS
        <InputRadio name="notification" SelectedValue="RoomCleaning.Shared.Models.NotificationType.SMS" @bind-Value="policy.NotificationType" />

    </label>
    <button type="submit">Submit</button>
</EditForm>
    }



@code
{
    private string filter = "empty";

    private RoomCleaning.Shared.Models.Room[] allRooms;
    private RoomCleaning.Shared.Models.Room[] filteredRooms;

    private RoomCleaning.Shared.Models.RoomPolicy policy = new RoomCleaning.Shared.Models.RoomPolicy();

    protected override async Task OnInitializedAsync()
    {
        allRooms = filteredRooms = await subService.GetRoomsAsync();
    }

    public void Filter(ChangeEventArgs args)
    {
        if (allRooms is null || allRooms.Length == 0)
            return;

        if (args.Value.ToString() == string.Empty)
            filteredRooms = allRooms;

        var filteredList = from r in allRooms where r.Id.StartsWith(args.Value.ToString()) select r;
        filteredRooms = filteredList.ToArray();
        StateHasChanged();
    }
}
